web/WEB-INF/wsdl/localhost_8080/SistemaLeilao.WebService2/SistemaLeilaoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ifsc.edu.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ifsc.edu.br/">

<xs:element name="obterTodosOsProdutos" type="tns:obterTodosOsProdutos"/>

<xs:element name="obterTodosOsProdutosResponse" type="tns:obterTodosOsProdutosResponse"/>

<xs:complexType name="obterTodosOsProdutos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="obterTodosOsProdutosResponse">
<xs:sequence>
<xs:element name="return" type="tns:produto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="produto">
<xs:sequence>
<xs:element name="descricao" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="lanceInicial" type="xs:double"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>